<%- include('../partials/header') %>
<h2>All Groceries</h2>
<table id="list">
  <thead>
    <tr>
      <th>Foods</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>

    <% groceries.forEach(function(g) { %>
    <tr>
      <td><%= g.foods %></td>
      <td><%= g.quantity %></td>
    </tr>
    <a href="/groceries/<%= g._id %>">Test</a>
    <%}) %>
  </tbody>
</table>
<%- include('../partials/footer') %>